.myselect {
    position: relative;
}

.myselect select {
    display: none;
}

.myselect__list {
    display: none;
    position: absolute;
    z-index: 2000;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 16px #0003;
    margin-top: .3rem;
    border-radius: .5rem;
}

.myselect__list li {
    padding: .5rem 2rem;
    cursor: pointer;
    transition: all .1s;
}

.myselect__list li:hover {
    background-color: #6c757d;
    color: #fff;
}

.myselect__list li.selected {
    background-color: #6c757d;
    color: #fff;
}

.myselect__list label {
    display: flex;
    padding: 0.5rem 1rem;
    margin: 0.5rem 2rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 16px #0002;
}

.myselect__list label .icon {
    font-size: 1.5rem;
    padding-right: .3rem;
}

.myselect__list .order {
    cursor: pointer;
}

.myselect__list input[type="search"] {
    background: transparent;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #8e8e8e;
    flex-grow: 1;
    width: 100%;
}

.myselect__list ul {
    max-height: 10rem;
    overflow-y: auto;
}