.file-input {
    display: flex;
    flex-direction: column;
}

.file-input label:focus-within  {
    border: 2px solid #86b7fe;
}

.file-input input {
    display: none;
}

.file-input__selected-image {
    box-shadow: 1px 1px 16px #0001;
    cursor: pointer;
}

.file-input__selected-image img {
    width: 100%;
    height: 25rem;
    max-height: 25rem;
    object-fit: contain;
}

.file-input__selected-image .filename {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden
}

.file-input label {
    padding: 0 1rem;
}
