.mytable__wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.mytable th,
.mytable td {
    padding: 1rem 2rem;
}

.mytable__wrapper .form-check-input {
    font-size: 1.3rem;
}

input[type="checkbox"] {
    margin-top: 0;
    margin-right: .3rem;
}

.mytable__pagination {
    display: flex;
    gap: 10px;
}

.mytable__pagination__page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: .4rem;
    text-decoration: none;
    color: #000;
    border: none;
}

.mytable__pagination__page-item:hover {
    background-color: #b3b3b3;
    animation: pulse;
    animation-duration: 800ms;
}

.mytable__pagination__active {
    background-color: #b3b3b3;
}

.mytable__pagination-disabled {
    pointer-events: none;
    position: relative;
}

.mytable__pagination-disabled::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    background: #fffa;
}

.mytable__actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.mytable__actions__search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5rem;
    box-shadow: 0.1rem 0.3rem 1rem #0002;
}

.mytable__actions__search label {
    padding: .3rem 1rem;
}

.mytable__action__search-clear {
    padding: .3rem .5rem;
}

.mytable__actions__search input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #8e8e8e;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mytable__actions__search i {
    font-size: 1.4rem;
}

.mytable__disabled {
    pointer-events: none;
    position: relative;
}

.mytable__disabled::before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0002;
    border-radius: 2rem;
    z-index: 1000;

    animation: zoomInDown;
    animation-duration: 1s;
}

.mytable__wrapper:not(.mytable__disabled) .mytable__spinner {
    display: none;
}

.mytable__disabled .mytable__spinner {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    animation: fadeIn;
    animation-duration: 1s;
}

.mytable__disabled .mytable__spinner .spinner-border {
    width: 10rem;
    height: 10rem;
}
